/* mobile 미디어쿼리 */
@media only screen and (max-width: 480px) {
  html {
    display: none;
  }
}


/* 태블릿 미디어쿼리 */
@media (min-width: 768px) and (max-width: 1024px) {

  html nav {
    zoom: 1.3;
    top: 2%;
    font-family: Helvetica, Sans-Serif;
  }

  body .intro-wrap {
    zoom: 1.1;
    margin-top: 30vw;
  }

  body .intro-h {
    font-size: 12vw;
    line-height: 10vw;
  }

  body .intro-b {
    font-size: 1.2vw;
    margin-top: 5vw;
    line-height: 1.5vw;
  }

  body .thumbnail-text-wrap {
    zoom: 1.2;
    top: -10vw;
    width: 30vw;
    line-height: 1.5vw;
  }

  body .thumbnail-text-wrap,
  .thumbnail-img {
    justify-content: center;
  }

  body thumbnail-h {
    line-height: 3vw;
  }

  body .thumbnail-wrap-pb {
    margin-top: 15vw;
  }

  body .thumbnail-wrap-web,
  .thumbnail-wrap-sillim,
  .thumbnail-wrap-me {
    margin-top: -25vw;
  }

  body .thumbnail-link {
    width: 10vw;
    height: auto;
    padding: 0.8vw;
    text-align: center;
    background-color: #343434;
  }

  body .skills {
    margin-top: -15vw;
  }

  body .skills-b {
    margin-top: 3vw;
  }

  .buttons {
    zoom: 1.4;
  }
}

/* Desktop 미디어쿼리 */
@media only screen and (min-width: 2000px) {
  @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

  html {
    overflow-x: hidden;
  }

  html nav {
    zoom: 0.7;
  }

  html nav li {
    display: inline;
    list-style-type: none;
    margin: 0 50px;
  }

  body .intro-b {
    width: 40%;
    margin: auto;
    margin-top: 2.5vw;
    font-size: 1vw;
    line-height: 1.5vw;
  }

  .contact-wrap {
    zoom: 0.8;
  }
}
/* ---------------------------------------------- */


/* header */
nav {
  width: 100%;
  padding: 0;
  top: 20vw;
  /* left: 35%; */
  margin: auto;
  text-align: center;
  /* position: fixed; */
  z-index: 3;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style-type: none;
  margin: 0 3px;
}

nav a {
  text-align: center;
  margin: auto;
  font-size: 0.9vw;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 5px 25px;
}

nav a:hover {
  opacity: 50%;
}

/* ----------------------------------------------------------------------- */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  font-family: 'Pretendard';
  -webkit-animation: fadein 2.5s;
  overflow-x: hidden;
  cursor: url('https://ifh.cc/g/zQtf3N.png'), auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body::-webkit-scrollbar {
  width: 0.6vw;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #5666af; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.intro-img {
  text-align: center;
  margin: auto;
  margin-top: -1vw;
  margin-bottom: 4vw
}

.top-button {
  position: fixed;
  bottom: 5.4vw;
  right: 3vw;
  z-index: 16;
}

.resume-button{
  font-size: 4vw;
  margin-left: 88vw;
  margin-top: 2vw;
}

.resume-button>a {
  text-decoration: none;
  color: black;
}

.resume-button>a:hover {
text-decoration: underline;
}

.img-gallery-text {
  margin-top: 10vw;
  font-size: 1.1vw;
  width: 100%;
  text-align: center;
  line-height: 1.9vw;
}

.img-gallery {
  width: 100%;
  margin-top: 2vw;
  text-align: center;
}

/* projects */
.projects-text {
  font-size: 4vw;
  margin-left: 8vw;
  margin-top: 10vw;
}

.projects-wrap {
  width: 90%;
  margin: auto;
  margin-top: 4vw;
  align-items: center;
  vertical-align: center;
  margin-left: 8vw;
}

.a, .b {
  display: flex;
  justify-content: space-between;
}

.b {
  margin-top: 5vw;
}

.thumbnail-img:hover {
  opacity: 60%;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.thumbnail-text-wrap {
  margin-top: 1vw;
  width: 40vw;
}

thumbnail-h {
  margin: auto;
  font-size: 2vw;
  font-weight: 500;
}

thumbnail-h>a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

thumbnail-h:hover {
  /* text-decoration: underline;
  text-underline-position: under; */
  background-color: aquamarine;
  transition: 0.2s ease-in-out;
}

thumbnail-b-1 {
  margin: auto;
  font-size: 1.1vw;
  font-weight: 400;
  margin-top: 3vw;
  color: rgb(146, 146, 146);
}

.skills-text, .contact-text {
  font-size: 4vw;
  margin-left: 8vw;
  margin-top: 10vw;
}

.skills {
  text-align: right;
  right: 0;
}

.contact-wrap {
  display: flex;
  margin-top: 10vw;
}

.contact-text  {
  font-size: 4vw;
  margin-left: 8vw;
  margin-top: 1vw;
}

.contact-b {
  width: 20vw;
  font-size: 1vw;
  font-weight: 500;
  line-height: 2vw;
  margin-left: 3vw;
  margin-top: 2vw;
  color: rgb(0, 0, 0);
}

contact-highlight {
  background-color: aquamarine;
}

.contact {
  margin-bottom: 15vw;
  width: 100%;
  height: auto;
  font-size: 4vw;
  margin-left: 15vw;
  line-height: 8vw;
}

.contact>a {
  color: black;
   text-decoration: underline;
}

.contact>a:hover {
  opacity: 50%;
}
  
/* footer */
footer {
  width: 100%;
  height: auto;
  padding-top: 2vw;
  padding-bottom: 1vw;
  background-color: #ffffff;
  margin: auto;
  bottom: 0;
  margin: 0;
  left: 0;
  display: flex;
  position: fixed;
  z-index: 15;
}


.left,
.center,
.right {
  align-content: center;
  color: rgb(0, 0, 0);
  font-size: 0.7vw;
}

.social-icon {
  zoom: 1.5;
  color: rgb(0, 0, 0);
  padding-left: 1vw;
  color: rgb(69, 69, 144);
}

.social-icon :hover {
  opacity: 50%;
}


.left {
  margin-left: 10vw;
}

.center {
  font-size: 0.9vw;
  margin-left: 5vw;
  font-weight: 600;
}

.right {
  margin-left: 40vw;
  letter-spacing: 0.1vw;
  font-size: 0.8vw;
}